/* The sidebar menu */
.nav_top {
  /*margin-left: 160px; /* Same as the width of the sidebar */
  /*margin-right: 160px; /* Same as the width of the sidebar */
  width: 65%;
  margin-top: 30px;
  margin-bottom : 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
  background-color: #111; /* Black */
  border-radius: 25px;
  display: block;
}

.ticker-tape-container {
  overflow-x: hidden;
  width: 100%;
  display: flex;
}

.ticker-tape {
  --direction: normal;
  --duration: 60s;
  --delay: 0s;
  --iteration-count: infinite;
  display: flex;
  gap: 1rem;
  flex: 0 0 auto;
  margin-right: 1rem;
  min-width: 100%;
  align-items: center;
  animation: scrmarqueeoll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes scrmarqueeoll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* This is just some styling to make it look presentable */

.basic-styling {
  border-radius: 10px;
  background-color: #82e495;
  /*padding: 2rem;*/
  color: #010101;
  font-size: 1.5rem;
  font-family: monospace;
}

.basic-styling span {
  padding: 0.25rem 1rem;
  border-radius: 10px;
  border: 2px dashed #000000;
  background-color: #000000;
  color : #82e495;
}


/* The navigation menu links */
.nav_top a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #558767;
  display: inline-block;
}

.nav_top {
  text-align: center;
}

.nav_top a:hover {
  color: #bef283;
}

/* Style page content*/
.content {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-right: 160px; /* Same as the width of the sidebar */
  font-family: monospace;
  padding: 25px 25px;
  background-color: #000000;
  color: #82e495;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ascii_art {
  text-align:center;
  font-family: monospace;
  white-space: pre;
}
/*
body{
  background-image: url('websiet.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: green;
}
*/

body{
  background-color: #82e495;
}

/* Style page content*/
.top_img {
  /*margin-left: 160px; /* Same as the width of the sidebar */
  /*margin-right: 160px; /* Same as the width of the sidebar */
  width: 65%;
  margin: auto;
  padding: 0px 10px;
  background-color: #111; /* Black */
  border-radius: 25px;
  display: block;
}

a:link {
  color: chartreuse;
}

/* visited link */
a:visited {
  color: rgb(255, 238, 0);
}

/* mouse over link */
a:hover {
  color: rgb(236, 137, 167);
}

/* selected link */
a:active {
  color: rgb(122, 122, 243);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav_l {padding-top: 15px;}
  .sidenav_l a {font-size: 18px;}
  .sidenav_r {padding-top: 15px;}
  .sidenav_r a {font-size: 18px;}

}
