/* The sidebar menu */
.nav_top {
  /*margin-left: 160px; /* Same as the width of the sidebar */
  /*margin-right: 160px; /* Same as the width of the sidebar */
  width: 65%;
  margin: auto;
  padding: 0px 10px;
  background-color: #111; /* Black */
  border-radius: 25px;
  display: block;
}

/* The navigation menu links */
.nav_top a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #558767;
  display: inline-block;
}

.nav_top a:hover {
  color: #bef283;
}

.sidenav_l {
  /*height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 25%; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
}

/* The navigation menu links */
.sidenav_l a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #558767;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav_l a:hover {
  color: #bef283;
}

/* The sidebar menu */
.sidenav_r {
  /*height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 25%; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
}

/* The navigation menu links */
.sidenav_r p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #558767;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav_r p:hover {
  color: #bef283;
}

/* Style page content*/
.content {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

body{
  background-image: url('websiet.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Style page content*/
.top_img {
  /*margin-left: 160px; /* Same as the width of the sidebar */
  /*margin-right: 160px; /* Same as the width of the sidebar */
  width: 65%;
  margin: auto;
  padding: 0px 10px;
  background-color: #111; /* Black */
  border-radius: 25px;
  display: block;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav_l {padding-top: 15px;}
  .sidenav_l a {font-size: 18px;}
  .sidenav_r {padding-top: 15px;}
  .sidenav_r a {font-size: 18px;}

}
